.clear:after{
content: '';

display: block;

clear: both;

}a{
color: black;

display: block;

}
.fl{
  font-size: 15px;
  line-height: 33px;
  float: left;
  font-weight: bold;
}
.fr {

font-size: 12px;
line-height: 30px;
padding-right: 10px;
margin-bottom: 5px;
background: no-repeat url(../images/箭头22.png) 29px 12px;
  float: right;
}
.wrapper{

width:218px;
padding-left: 15px;
padding-right: 15px;
margin: 50px auto;

border: 1px solid #e4e4e4;

}
.foot a{

font-size: 12px;

line-height: 24px;

}
.foot .a1{

margin-bottom: 6px;

}
.foot .a2{

  margin-top: 5px;
}
header{

  border-bottom: 1px dashed #e4e4e4;
}
