.clear:after{
content: '';

display: block;
clear: both;


}


div{

width: 286px;

margin: 50px auto;
background: #ebebf5;
padding-left: 12px;
padding-right: 28px;
padding-top: 18px;
padding-bottom: 19px;
border: 1px solid red;
}
a{
color: black;
display: block;

line-height: 24px;
font-size: 12px;
float: left;
margin-left: 12px;
}
.left{
  width: 120px;

 float: left;

}
.right{
  width: 120px;
float:right;

}

.a1{

color: red;

}
